In [1]:
import pandas as pd
import os

In [2]:
df=pd.read_csv('../files/input/solicitudes_de_credito.csv',delimiter=';',index_col=0)
#10920 rows × 9 columns

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10920 entries, 0 to 10919
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    10920 non-null  object
 1   tipo_de_emprendimiento  10818 non-null  object
 2   idea_negocio            10920 non-null  object
 3   barrio                  10818 non-null  object
 4   estrato                 10920 non-null  int64
 5   comuna_ciudadano        10920 non-null  float64
 6   fecha_de_beneficio      10920 non-null  object
 7   monto_del_credito       10920 non-null  object
 8   línea_credito           10920 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 853.1+ KB

In [4]:
df.isnull().sum()

sexo                        0
tipo_de_emprendimiento    102
idea_negocio                0
barrio                    102
estrato                     0
comuna_ciudadano            0
fecha_de_beneficio          0
monto_del_credito           0
línea_credito               0
dtype: int64

In [5]:
df.dropna(inplace=True)
#10716 rows × 9 columns

In [6]:
df['sexo']=df['sexo'].str.lower().str.strip()
df['tipo_de_emprendimiento']=df['tipo_de_emprendimiento'].str.lower().str.strip()
df['idea_negocio']=df['idea_negocio'].str.replace('-',' ').str.replace('_',' ').str.lower().str.strip()
df['barrio']=df['barrio'].str.replace('-',' ').str.replace('_',' ').str.lower()
df['barrio'] = df['barrio'].str.replace(r'no\.\s*(\d+)', r'no\1', regex=True)
df['estrato']=df['estrato'].astype(int)
df['comuna_ciudadano']=df['comuna_ciudadano'].astype(int)
print(df['barrio'].head(50))

0                      prado
1             barrio caicedo
2                   aranjuez
3     cabecera san cristobal
4                    robledo
5                  picachito
6                   guayabal
7                  carpinelo
8                 belalcazar
9       manrique central no1
10      manrique central no2
11       santa elena central
12                 andalucia
13            san javier no1
14                 belencito
15            centro admtivo
16     cabecera san antonio
17      manrique central no1
18             villa hermosa
19            playon de los
20              buenos aires
21      manrique central no1
22                   popular
23                   robledo
24             tricentenario
25                  calasanz
26                  aranjuez
27              buenos aires
28                 andalucia
29                  pedregal
30                la francia
31                santa cruz
32            san javier no1
33               la floresta
34                     belen
35                las brisas
36                  castilla
37            san javier no1
38     cabecera san antonio
39     cabecera san antonio
40                  guayabal
41                     belen
42                 santander
43                     prado
44                santa cruz
45                  aranjuez
46                  castilla
47            san javier no2
49            san javier no1
50                  pedregal
Name: barrio, dtype: object

In [7]:
from datetime import datetime

# Función para convertir fechas en varios formatos
def parse_date(date_str):
    for fmt in ('%d/%m/%Y', '%Y/%m/%d', '%Y/%d/%m'):
        try:
            return datetime.strptime(date_str, fmt)
        except ValueError:
            pass
    return None

# Aplicar la función a la columna de fecha
df['fecha_de_beneficio'] = df['fecha_de_beneficio'].apply(parse_date)

# Formatear la columna de fecha al formato día/mes/año
df['fecha_de_beneficio'] = df['fecha_de_beneficio'].dt.strftime('%d/%m/%Y')

In [8]:
df['monto_del_credito']=df['monto_del_credito'].replace({'\$':'',',':'',' ':''},regex=True).astype(float)
df['línea_credito']=df['línea_credito'].str.replace('-',' ').str.replace('_',' ').str.lower().str.strip()
df.drop_duplicates(inplace=True)
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\57301\AppData\Local\Temp\ipykernel_26448\2054030736.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['monto_del_credito']=df['monto_del_credito'].replace({'\$':'',',':'',' ':''},regex=True).astype(float)

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica de,prado,3,10,13/07/2018,5000000.0,microempresarial
1,femenino,servicio,recreativo educativo,barrio caicedo,1,9,30/10/2017,6000000.0,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4,03/08/2017,7300000.0,microempresarial
3,masculino,comercio,variedades,cabecera san cristobal,3,60,20/11/2017,7000000.0,microempresarial
4,femenino,comercio,fabrica de,robledo,2,7,23/02/2017,5000000.0,microempresarial

In [9]:
dir='../files/output'
os.makedirs(dir,exist_ok=True)
path=os.path.join(dir,'solicitudes_de_credito.csv')
df.to_csv(path,sep=';',index=False)